body { margin: 0px; padding: 0px; }
#banner {  background-color: #f9f9f9; padding: 20px 0 10px 0; }

h1 { 
	margin: 0px; 
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 45px; 
	text-align: center;  
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 25px; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 1.45em;
}

#container {
	background-color: #FFF;
	margin-top: -75px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
}

#glasses { float: left; margin-right: 20px; }

#footer {
	margin: 20px 20px;
	padding-top: 20px;
	border-top: 1px solid #CCC;
}